<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Adam Green</title>

<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
          <![endif]-->

<link rel="stylesheet" href="/lytebox/lytebox.css" type="text/css" media="screen"/>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
<style>
body {
    padding-top: 60px;
}
</style>
<script type="text/javascript" src="/js/jquery.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div id="page">

    <!-- Twitter Bootstrap navbar -->

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="/">{{ site.name }}</a>
                <div class="nav-collapse">
                    <ul class="nav">
                <!--        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/contact/">Contact Us</a></li>
                        <li><a href="/physics/">Physics</a></li>
                -->
                {% for page in site.pages_list %}
                &nbsp;&nbsp;&nbsp;
                <small><a href>="{{ page[1] }}">{{ page[0] }}</a></small>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content area -->

    <div class="container main-content-container">
